{% if site.footer-links.spotify %}<a href="https://open.spotify.com/{{ site.footer-links.spotify }}"><i class="svg-icon spotify"></i></a>{% endif %}
{% if site.footer-links.apple %}<a href="https://podcasts.apple.com/{{ site.footer-links.apple }}"><i class="svg-icon apple"></i></a>{% endif %}
{% if site.footer-links.google %}<a href="https://podcasts.google.com/feed/{{ site.footer-links.google }}"><i class="svg-icon google"></i></a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}"><i class="svg-icon youtube"></i></a>{% endif %}
{% if site.footer-links.ivoox %}<a href="https://mx.ivoox.com/es/{{ site.footer-links.ivoox }}"><i class="svg-icon ivoox"></i></a>{% endif %}
