<!DOCTYPE html>
<html>
  <head>
    <html lang="es">
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    <link rel="icon" type="image/png" href="/images/icono-destacado.png" />
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="https://octosilabo.gitlab.io/feed" />

    <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
    <meta name="google-site-verification" content="ldcTIIUiXoKtpD6O_IPRl6rDCXM0Yda90-xPGWaG7h0" />

     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149939402-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-149939402-1');
    </script>
 
 <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://gitlab.us3.list-manage.com/subscribe/post?u=2c0c861286545f540078c5ef6&amp;id=b8d3ec9a3f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscríbete</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2c0c861286545f540078c5ef6_b8d3ec9a3f" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          
          <!--a title="Escucha en Apple Podcast" href="https://podcasts.apple.com/ec/podcast/octosilabo-com/id1483302723"><img src="images/ICONO_APPLE.png" alt="Escucha en Apple Podcast" width="40" height="40" /></a>
          <a title="Escucha en Google Podcast" href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9vY3Rvc2lsYWJvLmdpdGxhYi5pby9mZWVk"><img src="images/ICONO_GOOGLE.png" alt="Escucha en Google Podcast" width="40" height="40" /></a>    
          <a title="Escucha en Spotify" href="https://open.spotify.com/show/5wqW6ph9tV7FWBZPlbnwaz"><img src="images/ICONO_SPOTIFY.png" alt="Escucha en Spotify" width="40" height="40" /></a>
          <a title="Escucha en IVOOX" href="https://www.ivoox.com/podcast-octosilabo-com_sq_f1703408_1.html"><img src="images/ICONO_IVOOX.png" alt="Escucha en IVOOX" width="40" height="40" /></a>
          
          <a title="Escucha en Radio Public" href="https://radiopublic.com/octosilabocom-GMYb1l"><img src="images/ICONO_RADIO_PUBLIC.png" alt="Escucha en Radio Public" width="40" height="40" /></a-->  

            
            
            {% include svg-icons__1_.html %}
          
          <nav>
            <a href="{{ site.baseurl }}/">Episodios</a>
            <a href="{{ site.baseurl }}/next">PROXIMAMENTE</a>
            <a href="{{ site.baseurl }}/about">El porque</a>
            
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
         <h4>Guayaquil - Ecuador 2021</h4> 
        </footer>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-98289803-1', 'auto');
          ga('send', 'pageview');
        </script>

      </div>
    </div>
    {% include analytics.html %}
    
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "octosilabo.com",
        "url": "http://www.octosilabo.gitlab.io",
        "address": "Guayaquil - Ecuador",
        "sameAs": [
          "https://www.facebook.com/octosilabos/",
          "https://twitter.com/octosilabos"
        ]
      }
    </script>
    
  </body>
</html>
